
section{
    @include flex(row, center, center);
}

h1{
    
     display: inline-block;
     background: linear-gradient(180deg,  $bright-color 10%, $gradient1-start 100%) no-repeat;
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     font-size: 3rem;
     margin-top: 3vw;
     margin-left: 1vw;
 }
 
// .picture{
//      height: 70vw;
//      width: 70vw;
//      max-width: 450px;
//      max-height: 450px;
//      background-image: url(../assets/anna-green03c.png);
//      background-size: cover;
//      // background-color: azure;
//      border-radius: 10%;
// }

// contact form 

.contactForm{
     @include flex(row, center, center);
     color: $bright-color2;

}

.nameInput, .emailAddress, .contactMessage {
     @include flex(column, center, flex-start);
     padding: 0.5rem;
}

.formButton{
    margin-left: 0.5rem;
    background-color: $secondary-color-b;
    border: none;
    color: $secondary-color-d;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}


