nav{

  .navigation{
     width: content;
     @include flex(row, center, center);
  }

  @include flex(row, center, center);
  height: 4rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $dark-color;
  box-shadow: 2px 2px 8px $gradient1-middle;

  button {
    background-color: transparent;
    border: none;
    color: $green-bright;
    margin: 0rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover{
      background-color: $green-bright;
      color: $green-dark;
      padding: 0.2rem 0.5rem;
      text-align: center;
      border-radius: 20px;
      font-size: 1rem;
      transition-duration: 0.5s;
    }
  }

  .active{ background-color: $green-bright;
   color: $green-dark;
   padding: 0.2rem 0.5rem;
   text-align: center;
   border-radius: 20px;
   font-size: 1rem;
   // border: 2px solid $bright-color2;
   box-shadow: 2px 2px 10px $bright-color2, -2px -2px 10px $bright-color2;
  }

}
