$dark-color: rgb(3, 28, 44);
$bright-color: rgb(129, 158, 220);
$bright-color2: rgb(213, 229, 238);
$secondary-color-d: rgb(92, 17, 67);
$secondary-color-b: rgb(242, 146, 210);
$green-dark: rgb(24, 47, 87);
$green-middle: rgb(45, 112, 164);
$green-bright: rgb(119, 206, 241);
$gradient1-start: rgb(23, 50, 109);
$gradient1-middle: rgb(175, 63, 185);
$gradient1-stop: rgb(230, 230, 92);
$skill-box:4.5rem;
$buttonSize: 2.5rem;
$buttonPadding: 0.5rem 1rem;

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@mixin flex($column, $justify, $align) {
  display: flex;
  flex-direction: $column;
  justify-content: $justify;
  align-items: $align;
}
