@import "variables.scss";
@import "general.scss";
@import"navi.scss";
@import"satelite.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: linear-gradient(180deg, 
    
    $dark-color 8%, 
    $gradient1-start 70%,
    $gradient1-middle  130%, 

    ) no-repeat;
    color: $green-bright;
    font-family: 'Balsamiq Sans', cursive;
}




@media screen and (max-width: 540px) {

p{
    font-size: 1rem;
}

div > p {
    font-size: 0.8rem;
    font-weight: 300;
  
        
    }    

.navigation{ 
    // background-color: purple;
    font-size: 0.5rem;
    width: 100%;
    padding: 0;
    

    button{
        margin: 0 0.7rem;
        padding: 0.5rem 0.5rem;
        font-size: 1.1rem;
    }
}

.project1 .project2 .project3{
    height: 40vw;
    width: 30vw;
     
    
    border-radius: 15px;
    border-width: 5px;
    border-color: $dark-color;
  }


.container {
    height: 510px;
    width: 410px;
    margin: auto;
    position: relative;
    @include flex(row, center, center);
  }


  h3{
      font-size: 1.5rem;
  }
}

