@import "variables.scss";
@import "general.scss";
@import "navi.scss";
@import "satelite.scss";

//includes @media

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
    background: linear-gradient(180deg, 
    
    $dark-color 8%, 
    $gradient1-start 70%,
    $gradient1-middle  130%, 

    ) no-repeat;
    color: $green-bright;
  
    
   
}

body{
    font-family: 'Balsamiq Sans', cursive;
}




@media screen and (max-width: 540px) {

p{
    font-size: 1rem;
}

h1{
    font-size: 4rem;
   
}

h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1.5rem;
}

.projectTitle{ 
    max-width: 95%;
    font-size: 0.8;
    text-decoration: underline;
  }
  
  .projectDescription{  
    max-width: 95%;
    font-size: 0.45rem;
    font-weight: 100;
  }

div > p {
    font-size: 0.8rem;
    font-weight: 300;
        
    }    
.formButton{
    border-radius: 20px;
    font-weight: 700;
    

}
.navigation{ 
    // background-color: purple;
    font-size: 0.5rem;
    width: 100%;
    padding: 0;
    
    

    button{
         
        margin: 0 0.3rem;
        padding: 0.2rem 0.3rem;
        font-size: 1rem;
        border: 1px solid rgba(167, 215, 204, 0.5);
        border-radius: 10px;
        &:hover{
            background-color: $green-bright;
            color: $green-dark;
            padding: 0.2rem 0.3rem;
            text-align: center;
            border-radius: 10px;
            font-size: 1rem;
            transition-duration: 0.5s;
          }
    }

  
}

#checkIt{
font-size: 1.1rem;
}


.container {
    height: 510px;
    width: 410px;
    // margin: auto;
    position: relative;
    @include flex(row, center, center);
  }




  .skills{
   
    div{
        
        padding: 0.3rem 0.9rem;
    }
    h2{
      font-size: 1.1rem;
      border-bottom: 2px solid $gradient1-middle;
    }
    li{
        font-size: 1rem;
    }
  }

  .Xmas-stack, .arcade-stack, .biology-stack, .Game-stack, .scratch-stack{
      
      padding: 0rem 0rem;
  }

  #PsmallFont{
    max-width: 80%;
    
  }

  .projectTitle{
    font-size: 0.8rem;
    
  }
  
  .techStack{
    
    font-size: 0.65rem; 
  }

}

@media screen and (min-width: 700px) {

.project1, .project2, .project3, .project4, .CSSplayground, .project6{
    height: 27vw;
    width: 27vw;
    border-radius: 15px;
    border-width: 5px;
     
}

}

@media screen and (min-width: 1500px) {

    .project1, .project2, .project3, .project4, .CSSplayground, .project6{
        height: 25vw;
        width: 320px;
        border-radius: 15px;
        border-width: 5px;
        margin: 0rem 1rem ;
         
    }
    .projectDescription, .projectTitle{  
        max-width: 400px;
        
      }
    
    }
    