@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

a {
  color: #f292d2;
  text-decoration: none;
}

h1 {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #af3fb9), color-stop(85%, #a7d7cc)) no-repeat;
  background: linear-gradient(180deg, #af3fb9 45%, #a7d7cc 85%) no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 5rem;
  margin-top: 3vw;
  margin-left: 1vw;
}

h2 {
  color: #a7d7cc;
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  color: #af3fb9;
  font-size: 2rem;
}

p {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
}

div > p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  padding: 0.2rem 0.5rem;
  margin: 0;
  width: 100%;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 0 auto;
}

.skills div {
  padding: 2rem;
}

.skills h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid #af3fb9;
}

ul {
  margin-left: 1rem;
  margin-top: 0.3rem;
}

.project1 {
  height: 40vw;
  width: 25vw;
  background-image: url(../assets/XmasMarket);
  background-size: cover;
  overflow: hidden;
  border-radius: 15px;
  border-width: 2px;
  border-color: #031c2c;
}

.project2 {
  height: 40vw;
  width: 25vw;
  background-image: url(../assets/ScienceArcade.png);
  background-size: cover;
  overflow: hidden;
  border-radius: 15px;
  border-width: 2px;
  border-color: #031c2c;
}

.project3 {
  height: 40vw;
  width: 25vw;
  background-image: url(../assets/BiologyBag.png);
  background-size: cover;
  overflow: hidden;
  border-radius: 15px;
  border-width: 2px;
  border-color: #031c2c;
}

.projectframes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem;
}

.projectframes div {
  margin: 2rem 0.5rem;
}

.divider {
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #d5e5ee;
  width: 100%;
  text-align: center;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d5e5ee;
}

.nameInput,
.emailAddress,
.contactMessage,
.captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem;
}

.formButton {
  margin-left: 0.5rem;
  background-color: #f292d2;
  border: none;
  color: #5c1143;
  padding: 0.3rem 0.5rem;
  text-align: center;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.formButton:hover {
  background-color: #5c1143;
  color: #f292d2;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px #d5e5ee, -2px -2px 10px #d5e5ee;
          box-shadow: 2px 2px 10px #d5e5ee, -2px -2px 10px #d5e5ee;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about p {
  margin: 0.3rem 0.3rem;
  font-size: 1rem;
  text-align: justify;
  padding: 0.5rem 0.5rem;
  font-weight: 300;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40vh;
}

.footer a {
  padding: 1rem;
}

.footer i {
  font-size: 2rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.footer i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-shadow: 2px 2px 10px #d5e5ee, -2px -2px 10px #d5e5ee;
          box-shadow: 2px 2px 10px #d5e5ee, -2px -2px 10px #d5e5ee;
}

.footer div {
  padding: 0.2rem;
  color: #a7d7cc;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2rem;
}

#projects {
  padding-top: 0.2em;
  padding-bottom: 0.2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #031c2c;
  -webkit-box-shadow: 2px 2px 8px #af3fb9;
          box-shadow: 2px 2px 8px #af3fb9;
}

nav .navigation {
  width: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav button {
  background-color: transparent;
  border: none;
  color: #a7d7cc;
  margin: 0rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

nav button:hover {
  background-color: #a7d7cc;
  color: #2b5757;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 20px;
  font-size: 1rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

nav .active {
  background-color: #a7d7cc;
  color: #2b5757;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 20px;
  font-size: 1rem;
  -webkit-box-shadow: 2px 2px 10px #d5e5ee, -2px -2px 10px #d5e5ee;
          box-shadow: 2px 2px 10px #d5e5ee, -2px -2px 10px #d5e5ee;
}

.container {
  height: 510px;
  width: 410px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picture {
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 0;
  position: absolute;
  z-index: 2;
  height: 352px;
  width: 372px;
  max-width: 450px;
  max-height: 450px;
  background-image: url(../assets/anna-green03c.png);
  background-size: cover;
}

.box1 {
  opacity: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 45%;
  position: absolute;
  -webkit-animation: satelite 8s infinite linear;
          animation: satelite 8s infinite linear;
  top: 45%;
  left: -10px;
  background-size: cover;
}

.box2 {
  opacity: 0;
  background-size: cover;
  background-color: #a7d7cc;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 45%;
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-animation: satelite 8s infinite linear 1.1s;
          animation: satelite 8s infinite linear 1.1s;
}

.box3 {
  opacity: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 45%;
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-animation: satelite 8s infinite linear 2.1s;
          animation: satelite 8s infinite linear 2.1s;
}

.box4 {
  opacity: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 45%;
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-animation: satelite 8s infinite linear 3.1s;
          animation: satelite 8s infinite linear 3.1s;
}

.box5 {
  opacity: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 45%;
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-animation: satelite 8s infinite linear 4.1s;
          animation: satelite 8s infinite linear 4.1s;
}

.box6 {
  opacity: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 45%;
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-animation: satelite 8s infinite linear 5.1s;
          animation: satelite 8s infinite linear 5.1s;
}

.box7 {
  opacity: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 45%;
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-animation: satelite 8s infinite linear 6.1s;
          animation: satelite 8s infinite linear 6.1s;
}

.box8 {
  opacity: 0;
  background-image: url(../assets/mongoDB-2.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  background-color: #031c2c;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 15px;
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-animation: satelite 8s infinite linear 7.1s;
          animation: satelite 8s infinite linear 7.1s;
}

.phaser {
  position: absolute;
  bottom: 10px;
  padding: 2rem;
  height: 120px;
  width: 150px;
  background-image: url(../assets/phaser.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.phaser2 {
  position: absolute;
  bottom: 110px;
  color: #a7d7cc;
}

@-webkit-keyframes satelite {
  0% {
    -webkit-transform: translate(-15px) translateY(0px) skewY(8deg) rotateY(45deg) scaleX(5%);
            transform: translate(-15px) translateY(0px) skewY(8deg) rotateY(45deg) scaleX(5%);
    z-index: 3;
    opacity: 1;
  }
  15% {
    -webkit-transform: translateX(80px) translateY(20px) scale(1.2);
            transform: translateX(80px) translateY(20px) scale(1.2);
    z-index: 3;
    opacity: 1;
  }
  25% {
    -webkit-transform: translateX(150px) translateY(25px) scale(1.3);
            transform: translateX(150px) translateY(25px) scale(1.3);
    z-index: 3;
    opacity: 1;
  }
  35% {
    -webkit-transform: translateX(250px) translateY(20px) scale(1.2) skewY(-3deg);
            transform: translateX(250px) translateY(20px) scale(1.2) skewY(-3deg);
    z-index: 3;
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(360px) translateY(15px) skewY(-15deg) scale(1.05) rotateY(90deg);
            transform: translateX(360px) translateY(15px) skewY(-15deg) scale(1.05) rotateY(90deg);
    z-index: 3;
    opacity: 1;
  }
  51% {
    z-index: 1;
  }
  75% {
    -webkit-transform: translateX(150px) translateY(-20px) skewY(10deg) scale(0.7);
            transform: translateX(150px) translateY(-20px) skewY(10deg) scale(0.7);
    z-index: 1;
    opacity: 0.2;
  }
  85% {
    -webkit-transform: translateX(20px) translateY(-25px) skewY(5deg) scale(0.7);
            transform: translateX(20px) translateY(-25px) skewY(5deg) scale(0.7);
    z-index: 1;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(-15px) skewY(-8deg) scaleX(5%);
            transform: translate(-15px) skewY(-8deg) scaleX(5%);
    z-index: 1;
    opacity: 1;
  }
}

@keyframes satelite {
  0% {
    -webkit-transform: translate(-15px) translateY(0px) skewY(8deg) rotateY(45deg) scaleX(5%);
            transform: translate(-15px) translateY(0px) skewY(8deg) rotateY(45deg) scaleX(5%);
    z-index: 3;
    opacity: 1;
  }
  15% {
    -webkit-transform: translateX(80px) translateY(20px) scale(1.2);
            transform: translateX(80px) translateY(20px) scale(1.2);
    z-index: 3;
    opacity: 1;
  }
  25% {
    -webkit-transform: translateX(150px) translateY(25px) scale(1.3);
            transform: translateX(150px) translateY(25px) scale(1.3);
    z-index: 3;
    opacity: 1;
  }
  35% {
    -webkit-transform: translateX(250px) translateY(20px) scale(1.2) skewY(-3deg);
            transform: translateX(250px) translateY(20px) scale(1.2) skewY(-3deg);
    z-index: 3;
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(360px) translateY(15px) skewY(-15deg) scale(1.05) rotateY(90deg);
            transform: translateX(360px) translateY(15px) skewY(-15deg) scale(1.05) rotateY(90deg);
    z-index: 3;
    opacity: 1;
  }
  51% {
    z-index: 1;
  }
  75% {
    -webkit-transform: translateX(150px) translateY(-20px) skewY(10deg) scale(0.7);
            transform: translateX(150px) translateY(-20px) skewY(10deg) scale(0.7);
    z-index: 1;
    opacity: 0.2;
  }
  85% {
    -webkit-transform: translateX(20px) translateY(-25px) skewY(5deg) scale(0.7);
            transform: translateX(20px) translateY(-25px) skewY(5deg) scale(0.7);
    z-index: 1;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translate(-15px) skewY(-8deg) scaleX(5%);
            transform: translate(-15px) skewY(-8deg) scaleX(5%);
    z-index: 1;
    opacity: 1;
  }
}

i {
  padding-top: 0.3rem;
  height: 100%;
  width: 100%;
  font-size: 4rem;
  text-align: center;
  color: #a7d7cc;
  background-color: #031c2c;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #031c2c), color-stop(70%, #17326d), color-stop(130%, #af3fb9)) no-repeat;
  background: linear-gradient(180deg, #031c2c 8%, #17326d 70%, #af3fb9 130%) no-repeat;
  color: #a7d7cc;
  font-family: 'Balsamiq Sans', cursive;
}

@media screen and (max-width: 540px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  div > p {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .formButton {
    border-radius: 20px;
    font-weight: 700;
  }
  .navigation {
    font-size: 0.5rem;
    width: 100%;
    padding: 0;
  }
  .navigation button {
    margin: 0 0.3rem;
    padding: 0.2rem 0.3rem;
    font-size: 1rem;
    border: 1px solid rgba(167, 215, 204, 0.5);
    border-radius: 10px;
  }
  .project1 .project2 .project3 {
    height: 40vw;
    width: 30vw;
    border-radius: 15px;
    border-width: 5px;
    border-color: #031c2c;
  }
  .container {
    height: 510px;
    width: 410px;
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills div {
    font-size: 1.1rem;
  }
  .skills h2 {
    text-decoration: underline;
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=main.css.map */